extends ../layout

block content
    h2 #{title}
    ul
    // -var tables=['table1','table2']
    each table in tables
        li
            a(href="tables/#{table.name}")  #{table.name}
            a(href="tables/scan/#{table.name}")  Scan
