extends ../layout
block content
    //code= table.dump()
    h2 Table #{tableName}
    h3 Records : #{table.count}

    table
        thead
            tr
            each v,k in table.fields
              td #{v.name}
        tbody
            each row in table.data
                tr
                    each value in row
                        td #{value}

