doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/public/stylesheets/style.css')
        //script(src="js/require.js")
        //script.
        //    requirejs.config({
        //        //By default load any module IDs from js/lib
        //        baseUrl: '/lib',
        //        //except, if the module ID starts with "app",
        //        //load it from the js/app directory. paths
        //        //config is relative to the baseUrl, and
        //        //never includes a ".js" extension since
        //        //the paths config could be for a directory.
        //        paths: {
        //            app: '../app',
        //            coffeescript : '/lib/coffeescript/lib/coffeescript'
        //        }
        //    });
        //    // Start the main app logic.
        //    requirejs(['coffeescript/coffeescript','/coffeescript/browser'],
        //        function () {
        //            //jQuery, canvas and the app/sub module are all
        //            //loaded and can be used here now.
        //        });
        //script(src="lib/require-cs/cs.js")
        script(data-main="/js/app" src="/js/require.js")
        script.
            requirejs.config({
                path : {
                    jquery : "/lib/jquery/dist/jquery",
                    underscore : "lib/underscore/underscore",
                    backbone: "/js/backbone"
                }
            });

            require(['backbone']);
    body
        h1 ResManager Data Viewer
        block content